**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
a = input("enter a string")
counter =0
for i in a :
    counter =counter +1
print(counter)
print(len(a))

enter a stringhahdklfbd
9
9

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
a = input("enter the string")
b = a[:2]
c= a[-2:]
m = " "
if len(a) ==1:
    print("expected result:Empty String ")
else :
  print("expected result:",b+c)

enter the stringw
expected result:Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s = input("enter a string")
if len(s)<3:
  print("expected result :",s)
elif s[-3:]=="ing":
   print(s+"ly")

else:
  print("expected result:",s+"ing")

enter a stringstring
stringly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def lists(list1):
  max1 = len(a[0])
  temp = a[0]
  for i in a:
    if (len(i)>max1):
      max1 = len(i)
      temp = i
   print(f"longest word: {temp} Length of the longest word {max1} ")
a = ["hello world ","exerises","hello"]

Longest word :00000000wordlesLength of the longest word: 15

9
0

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
a = input("enter a string")
a.replace(a[:1],"e")
a.replace(a[-1:],"e")
print(a)

enter a stringabca

'ebce'

In [ ]:
def change_sring(str1):
      return str1[-1:] + str1[1:] + str1[0:1]

print(change_sring('abcd'))
print(change_sring('12345'))

dbcda
523451

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
a = input("enter the string")
result = ""
for i in range(len(a)) :
  if i %2 ==0:
    result = result+a[i]
print(result)

enter the stringabcb
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
def count_word_occurrences(sentence):
    sentence = sentence.lower()
    words = sentence.split()
    word_occurrences = {}

    for word in words:
        word_occurrences[word] = word_occurrences.get(word, 0) + 1

    return word_occurrences
sample_sentence = "amr and ahmed are friends but amr is the tallest"


result = count_word_occurrences(sample_sentence)


print(result)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'friends': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
a = input("enter the script").upper()
d = a.lower()
print("the upper case is:",a)
print("the lower case is :",d)

enter the scriptenter the lower case
the upper case is: ENTER THE LOWER CASE
the lower case is : enter the lower case

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def rev(str1):
  if len(str1)%4==0:
    print(str1[::-1])
  else :
    print(str1)
    return str1

str1 = input("enter a string")
rev(str1)

enter a stringhelo
oleh

**10- Write a Python program to remove a newline in Python

In [ ]:
str1 = "hello mohamed badry'\n'"
print(str1.rstrip())

Python Exercises

Python Exercises

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
string = "hello mohamed how are you"
print(string.startswith("hello"))

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def add_prefix_to_lines(input_string, prefix):
    lines = input_string.splitlines()
    prefixed_lines = [prefix + line for line in lines]
    result_string = '\n'.join(prefixed_lines)
    return result_string

if __name__ == "__main__":
    input_string = """Line 1
Line 2
Line 3
Line 4"""
    prefix = ">> "
    result = add_prefix_to_lines(input_string, prefix)
    print(result)

>> Line 1
>> Line 2
>> Line 3
>> Line 4

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
x = 4.42453
print("Formatted Number: "+"{:.2f}".format(x))

Formatted Number: +4.42

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
x = 4.42453
print("Formatted Number: "+"{:+.2f}".format(x))

Formatted Number: +4.42
4.42453

**15-Write a Python program to display a number with a comma separator

In [ ]:
x =44565785
print("formatted Number:"+"{:,}".format(x))

formatted Number:44,565,785

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
a = input("enter the string")
print(a[::-1])

s = ''.join(reversed(a))
print(s)

enter the stringhello'
'olleh
'olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def char_count_repeated(s):
   char_count = {}
   for char in s:
     if char in char_count:
        char_count[char] += 1
     else:
        char_count[char] = 1
   for char,count in char_count.items():
       if count >1:
        print(f" '{char}'is repeated {count} items ")
input_string = input("enter a string :")
char_count_repeated(input_string)

enter a string :hello badry how are you
 'h'is repeated 2 items
 'e'is repeated 2 items
 'l'is repeated 2 items
 'o'is repeated 3 items
 ' 'is repeated 4 items
 'a'is repeated 2 items
 'r'is repeated 2 items
 'y'is repeated 2 items

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def count_char_nrepeated(s):
  char_count = {}
  for char in s:
    if char in char_count:
      char_count[char] +=1
    else :
      char_count[char] = 1
    for char,count in char_count.items():
       if char_count[char]==1:
          return char
          print(f"{char} is repeated : {count}")
input_string =input("enter a string :")
count_char_nrepeated(input_string)

enter a string :hello badry

'h'

**19-Write a Python program to remove spaces from a given string

In [ ]:
a = "hello how are you"
a.replace(" ","")

'hellohowareyou'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def number_of_substrings(str):
	str_len = len(str);
	return int(str_len * (str_len + 1) / 2);

str1 = input("Input a string: ")
print("Number of substrings:")
print(number_of_substrings(str1))

Input a string: hello
Number of substrings:
15

**21-write a Python program to swap first and last element of any list.

In [ ]:
a = [1,2,3,4,5,6,7,8]
b =a.pop(0)
c = a.pop(-1)
a.insert(0,c),a.insert(len(a),b)
print("after swaping the elemnts the list is :",a)

[8, 2, 3, 4, 5, 6, 7, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
list1= [23, 65, 19, 90]
pos1 =list1.pop(0)
pos2 = list1.pop(1)
list1.insert(0,pos2),list1.insert(2,pos1)
print(list1)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
#Using len() function.
#USING for or while loop
#Using Naive Method.
#Using length_hint()
#Using sum() method.
#Using a list comprehension.
#Using recursion.
#Using enumerate function.
#Using Collections Module.

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
a= [5,7,8,9,410,11]
print(max(a))

410

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
a = [7,88,91,11,24,36]
print(min(a))

7

**26-search for if an elem is existing in list

In [ ]:
lst=[ 1, 6, 3, 5, 3, 4 ]

i=7

if i in lst:
	print("exist")
else:
	print("not exist")

not exist

**27- clear python list using different ways

In [ ]:
a = [1,4,5,6,7,8]
b= [1,4,5,6,7,8]
c = [1,4,5,6,7,8]
n= [1,4,5,6,7,8]
a.clear()
del b[:]
c = []
n *=0
print(a)
print(b)
print(c)
print(n)

[]
[]
[]
[]

**28-remove duplicated elements from a list

In [ ]:
a=[1,2,3,1,4,5,4,5]
res = [*set(a)]
print(res)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
from IPython.testing import test
test_list = ["Gfg", 3, "is", 8]
keys_list = ["name","id"]
n = len(test_list)
res = []
for i in range(0,n,2):
  res.append({keys_list[0]: test_list[i], keys_list[1] : test_list[i+1]})

print("The constructed dictionary list : " , str(res))

The constructed dictionary list :  [{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8]

# converting our list to set
new_set = set(input_list)
print("No of unique items in the list are:", len(new_set))

No of unique items in the list are: 5

In [ ]:
from collections import Counter


input_list = [1, 2, 2, 5, 8, 4, 4, 8]

items = Counter(input_list).keys()
print("No of unique items in the list are:", len(items))

No of unique items in the list are: 5

In [ ]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
l1 = []
count = 0
for item in input_list:
    if item not in l1:
        count += 1
        l1.append(item)
print("No of unique items are:", count)

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
from collections import Counter

test_list = [4,5,6,3,3,3,3,4,4,4,8]
k = 3
freq_dict = Counter(test_list)
res = list(filter(lambda ele : freq_dict[ele]>k,freq_dict))
print("The required elements : " + str(res))

The required elements : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
def maximumAdjacent(arr1, n):
	arr2 = []
	for i in range(1, n):
		r = max(arr1[i], arr1[i-1])
		arr2.append(r)

	for ele in arr2 :
		print(ele,end=" ")

if __name__ == "__main__" :

  n = 6

arr1 = [1,2,2,3,4,5]

maximumAdjacent(arr1, n)

2 2 3 4 5

Enter three space-separated digits: 123
Possible Combinations:
123

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
from itertools import permutations

# Get all combination of [1, 2, 3]
# of length 3
comb = permutations([1, 2, 3], 3)

for i in comb:
    print(i,end = "## ")

(1, 2, 3)## (1, 3, 2)## (2, 1, 3)## (2, 3, 1)## (3, 1, 2)## (3, 2, 1)##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
from itertools import combinations
# initializing list
test_list = [1,2,3]
idx=0
temp = combinations(test_list, 2)
for i in list(temp):
    idx = idx+1

    print ([idx], list(i),end = ",")

[1] [1, 2],[2] [1, 3],[3] [2, 3],

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list1 = ["a","b"]
list2 = [1,2]
unique = []
for i in range(len(list1)):
  for j in range(len(list2)):
    unique.append((list1[i],list2[j]))
print(unique)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
test_list = [1,1,2,3,4,5,1,2,1]
ele=1
x=[i for i in test_list if i!=ele]
print(x)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
res = [test_list1[i]for i in test_list2]
print ("The lists after index elements replacements is : " + str(res))

The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
test_list =[(4, 5, 5, 4), (5, 4, 3)]
k = 5
N = 2
res = [ele for ele in test_list if ele.count(k)==N]
print("Filtered tuples : " + str(res))

Filtered tuples : [(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

def sort_by_column(arr, col):
    arr.sort(key=lambda x: x[col])
    return arr

for i in range(len(array[0])):
    sorted_array = sort_by_column(array.copy(), i)
    print(f"Sorted array specific to column {i}, {sorted_array}")

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
myDict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
mykeys = list(myDict.keys())
mykeys.sort()
sorted_dict = {i: myDict[i] for i in mykeys}
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, "geeks" : "cs"}
K = 7
res = {}
for key in test_dict:
  if not(isinstance(test_dict[key],int) and test_dict[key]>k):
    res[key] = test_dict[key]
print(" constructed dictionary : ",str(res))

 constructed dictionary :  {'Gfg': 3, 'geeks': 'cs'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dict4 = {}
for i in (dic1,dic2,dic3):dict4.update(i)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {'Red': 1, 'Green': 2, 'Blue': 3}
for col_key,value in d.items():
  print(col_key,"corispond to",d[col_key])

Red corispond to 1
Green corispond to 2
Blue corispond to 3

**44- Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
d ={'a': 100, 'b': 200, 'x': 300, 'y': 200}
print(max(d.values()))
print(min(d.values()))

300
100

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
d1= {'c1': 'Red', 'c2': 'Green', 'c3': None}
d1 = {key:value for (key,value) in d1.items() if value is not None }
print(d1)

3

**47-Write a Python program to create a tuple of numbers and print one item

In [2]:
a= (1,2,3,4,5)
a = (5,)
print(a)

(5,)

**48-Write a Python program to unpack a tuple into several variables

In [6]:
tuplex= (1,2,3)
n1,n2,n3 = tuplex
print(n1+n2+n3)

6

**49-Write a Python program to add an item to a tuple

In [7]:
tuplex= (1,2,3,4)
tuplex =tuplex+(5,)
print(tuplex)

(1, 2, 3, 4, 5)

**50-Write a Python program to convert a tuple to a string

In [11]:
tuplex= ('e', 'x', 'e', 'r')
str = ''.join(tuplex)
print(str)

exer

**51-Write a Python program to convert a list to a tuple

In [12]:
a = [1,2,3,4,5,8]
print(tuple(a))

(1, 2, 3, 4, 5, 8)

**52-Write a Python program to reverse a tuple

In [16]:
x = (5, 10, 15, 20)
y = reversed(x)
print(tuple(y))

(20, 15, 10, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [21]:
a =[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in a])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [22]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace())
    return result
str1 = "python 3.0"
print(str1)
print(type(str1))
print("Convert the said string to a tuple:")
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
def average_tuple(nums):
    result = [sum(x) / len(x) for x in zip(*nums)]
    return result

nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print ("Original Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

**56-Write a Python program to add member(s) to a set.

In [ ]:
color_set = set()
print(color_set)
print("\nAdd single element:")
color_set.add("Red")

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
num_set = set([0, 1, 2, 3, 4, 5])
print("\nRemove 0 from the said set:")
num_set.discard(4)

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
# Program to perform different set operations
# as we do in mathematics

# sets are define
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

# union
print("Union :", A | B)

# intersection
print("Intersection :", A & B)

# difference
print("Difference :", A - B)

# symmetric difference
print("Symmetric difference :", A ^ B)

**59-Write a Python program to find the maximum and minimum values in a set

In [23]:
setn = {5, 10, 3, 15, 2, 20}
print(max(setn))
print(min(setn))

20

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [28]:
def findPairs(lst, K):
	res = []
	while lst:
		num = lst.pop()
		diff = K - num
		if diff in lst:
			res.append((diff, num))

	res.reverse()
	return res


lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(5, 7), (3, 9)]